<!-- app/views/seats/index.html.erb -->
<% if @have_booking %>
  <h1>You have a booking. You can only book one seat at a time.</h1> 
<% end %>
<h1>Seat List</h1>

<table>
  <thead>
  <tr>
    <th>Seat Name</th>
    <th>Booking Information</th>
  </tr>
  </thead>
  <tbody>
  <% @seats.each do |seat| %>
    <tr>
      <!-- Redirect to new booking page -->
      <td><%= link_to seat.name, new_booking_path(seat_id: seat.id) %></td>
      <td>
        <% future_bookings = seat.bookings.where('from_date >= ?', Time.current.beginning_of_day) %>
        <% if future_bookings.any? %>
          <ul>
            <% future_bookings.each do |booking| %>
              <li>
                <strong>Booked by:</strong> <%= booking.user.full_name %>,
                <strong>From:</strong> <%= booking.from_date.strftime("%Y-%m-%d %H:%M") %>,
                <strong>To:</strong> <%= booking.to_date.strftime("%Y-%m-%d %H:%M") %>,
              </li>
            <% end %>
          </ul>
        <% else %>
          No bookings yet.
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
